body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9; 
  color: #333; 
  line-height: 1.6; 
}

.skip{
  position: absolute;
  left:-1000px;
}

.skip:focus{
  left: 110px
}

header {
  background: lightpink; 
  color: white;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #fff; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: pink; 
  font-weight: bolder;
}

.active {
  font-weight: bolder;
  text-decoration: underline; /* Underline active page link */
}

main {
  max-width: 1200px;
  margin: 20px auto;
  font-size: 20px;
  padding: 20px;
  background: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: black; 
}

main h2 {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  color: grey; 
}

main h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: pink; 
}

main img, main video {
  display: block; /* Ensure images behave like block elements */
  margin: 0 auto; /* Center images horizontally */
  max-width: 100%; /* Ensure images don't exceed their container's width */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
  transition: transform 0.3s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
  padding: 20px; /* Add padding around the grid */
}

.grid-item {
  background-color: #f2f2f2; /* Background color for grid items */
  padding: 20px; /* Padding around grid items */
  border-radius: 10px; /* Add border-radius for a softer look */
  text-align: center; /* Center text within grid items */
  margin: 20px; /* Add margin to create space between items */
} */

main img:hover, main video:hover {
  transform: scale(1.1);
}

main p {
  color: black; 
  font-size: 13px;
  font-weight: 100;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
} 

.bacons-photos, .sage-photos, .pluto-photos, .lulu-photos, .peddie-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.bacons-photos img, .sage-photos img, .pluto-photos img, .lulu-photos img, .peddie-photos img {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.bacons-photos img:hover, .sage-photos img:hover, .pluto-photos img:hover, .lulu-photos img:hover, .peddie-photos img:hover {
  transform: scale(1.1);
}

#main ul {
  margin-bottom: 30px;
}

#main li {
  list-style-type: disc;
  font-size: 15px;
  margin-left: 20px;
  margin-top:10px;
  color: #555; 
}

#main h3 {
  color: #333; 
  margin-top: 30px;
}

#main h2,
#main h3 {
  border-bottom: 5px solid pink;
  padding-bottom: 10px;
}

#main h2:first-child,
#main h3:first-child {
  border: none;
  padding: 0;
}

#main h2:last-child,
#main h3:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

#main h2.travel {
  margin-bottom: 0;
  border-bottom: none;
}

#main h3.travel {
  margin-bottom: 0;
  border-bottom: none;
}